* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: env(safe-area-inset-top, 50px);
  padding-right: env(safe-area-inset-right, 50px);
  padding-bottom: env(safe-area-inset-bottom, 50px);
  padding-left: env(safe-area-inset-left, 50px);
  gap: 1rem;
}

@media (min-width: 768px) {
  nav {
    padding: 1rem; /* Fixed padding for larger screens (desktop) */
  }
}
