* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding-top: env(
    safe-area-inset-top,
    20px
  ); /* Safe area padding for notch devices */
}

a {
  text-decoration: none;
  color: unset;
}

nav {
  display: flex;
  gap: 1rem;
  border: 1px solid gold;
}

@media (min-width: 768px) {
  nav {
    padding: 1rem; /* Fixed padding for larger screens (desktop) */
  }
}
